{% extends 'index.html' %}

{% block content %}
<h1>Project</h1>
<form method= "post" id="form_holder" action="{{ url_for('db_project') }}">
  What u need?
  <select id="tal_sel" name="talent_type" form="form_holder">
    <option selected >----select----</option>
    <option name="tal_type" value="Musician">Musician</option>
    <option name="tal_type" value="VJ">VJ</option>
    <option name="tal_type" value="Sound Engineer">Sound engineer</option>
    <option name="tal_type" value="Photo/film">Photo/film</option>
  </select><br> MULTIPLE?!<br>
  Project name: <input type="text" name="name" value="Name"><br>
  Region: <input type="text" name="region" value="IDK IF THIS GON WORK">
  Date[DD/MM/YY]: <input id="date" type="date" name="date" min="2020-01-01"><br>
  Pay?
  <select class="" name="pay_opt">
    <option selected >--select--</option>
    <option value="yes">Yes</option>
    <option value="no">No</option>
    <option value="maybe">Maybe</option>
  </select><br>
  Description: <textarea name="description" rows="3" cols="30" placeholder=""></textarea><br>
  <button onclick="post_project()">submit</button>
</form>
<a href="/">HOME</a>
{% endblock %}
