{% extends 'index.html' %}

{% block content %}
<h1>Recording</h1>
<form method= "post" id="new_rec" action="{{ url_for('rec') }}">
  What u need?
  <select id="tal_sel" class="" name="">
    <option value="Musician">Musician</option>
    <option value="VJ">VJ</option>
    <option value="Studio">Studio</option>
    <option value="Photo/film">Photo/film</option>
  </select><br>
  Latitude: <input id="lat" name="latitude" value="46.666"><br>
  Longitude: <input id="lng" name="longitude" value="6.2222"><br>
  Date[DD/MM/YY]: <input id="date" type="date" name="date" min="2020-01-01"><br>
  Start time: <input type="time" name="t_0" value=""><br>
  End time: <input type="time" name="t_1" value=""><br>
  Description: <input type="text" name="descript" value='descrip'><br>
  Pay? <select class="" name="">
    <option value="yes">Yes</option>
    <option value="no">No</option>
    <option value="maybe">Maybe</option>
  </select> <input id="moneynumber" type="number" name="" value="">

  <button onclick="update_new_rec()">submit</button>
</form>
<a href="/">HOME</a>
{% endblock %}
